:root {
  /* Colors */
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
  /* Fonts */
  --primary-font: 'Roboto', sans-serif;
  --secondary-sont: 'Raleway', sans-serif;
}
/**
  |============================
  | Base styles
  |============================
*/
body {
  font-family: var(--primary-font);
}
.button {
  font-family: inherit;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**
  |============================
  | Header section
  |============================
*/
.header {
}
.heder-nav {
}
.logo {
}
.header-list {
}
.header-item {
}
.header-item-link {
}
.header-adress {
}
.header-adress-list {
}
.header-adress-item {
}
.header-adress-mail {
}
.header-adress-phone {
}
/**
  |============================
  | Footer section
  |============================
*/
.footer {
}
.footer-text {
}
/**
  |============================
  | Herro section
  |============================
*/
.herro {
}
.herro-title {
}
.herro-button {
}
/**
  |============================
  | Feature section
  |============================
*/
.feature {
}
.feature-list {
}
.feature-item {
}
.feature-text {
}
.feature-title {
}
/**
  |============================
  | About section
  |============================
*/
.about {
}
.about-title {
}
.about-list {
}
.about-item {
}
.about-img {
}
/**
  |============================
  | Team section
  |============================
*/
.team {
}
.team-title {
}
.team-list {
}
.team-item {
}
.team-item-img {
}
.team-item-title {
}
.team-item-text {
}
